add_vhost.php
index.php
test_sockets.php
testmysql.php
info.php
favicon.ico
wamplangues/
wampthemes/
.idea/dataSources.xml
.idea/deployment.xml
.idea/dictionaries/
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/runConfigurations/
.idea/sqldialects.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/www.iml
marc/
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/codeStyles/
.idea/git_toolbox_prj.xml
!/PanierdAchat/index.php
!/bacinfo2_panier/index.php
!/bacinfo2_panier/vendors/*
