RewriteEngine On
RewriteBase /bacinfo2_panier/ # Nom dossier racine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L] # Nom routage (index.php)